
.cert_text_xs {
    font-size: 0.75rem !important; }
  
  .cert_text_sm {
    font-size: 0.875rem !important; }
  
  .cert_text_lg{
    font-size: 1.25rem !important; }
    .button{
      height: 45px;
      border-radius: 6px;
      padding: 10px;
      width: 310px;
      margin-top: 7px;
    }