.btn {
  width: 30px;
  
  height: 35px;
  transition: none; } 
.btn:hover, .btn:focus {
text-decoration: none; }
.btn:focus, .btn.focus {
outline: 0;

box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); }
.btn.disabled, .btn:disabled {
opacity: 0.65;
box-shadow: none; }

.btn-primary {
  color: #fff;
  background-color: #5e72e4;
  border-color: #5e72e4;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }

  
.border-btm {
  border-bottom: 1px solid rgba(50, 50, 93, 0.11);
}